<div class="map hidden-xs">
	<google-map center="map.center" zoom="map.zoom" draggable="true">
		<marker coords="marker.coords" idkey="marker.id" showWindow="true"></marker>
	</google-map>
</div>

<div class="map visible-xs">
	<google-map center="map.center" zoom="map.zoom" draggable="false">
		<marker coords="marker.coords" idkey="marker.id" showWindow="true"></marker>
	</google-map>
</div>

<section>
	<dl class="dl-horizontal">
		<dt>장소</dt>
		<dd>서울특별시 강남구 역삼로 180 마루180 Think Hall</dd>
		<dt>시간</dt>
		<dd>2014년 8월 23일 토요일 오후 1시 - 24일 일요일 오전 11시</dd>
		<dt>주변대중교통</dt>
		<dd>
			<ul class="list-unstyled transport">
				<li><strong>지하철</strong></li>
				<li>
					<ul class="list-unstyled transport">
						<li><span class="label label-sub-green">2호선</span> 강남역, 역삼역</li>
						<li><span class="label label-sub-red">신분당선</span> 강남역</li>
					</ul>
				</li>
				<li><strong>버스</strong></li>
				<li>
					<ul class="list-unstyled transport">
						<li><span class="label label-bus-green">지선</span> 4211</li>
						<li><span class="label label-bus-blue">간선</span> 147, 350, 463</li>
						<li><span class="label label-bus-yellow">순환</span> 41</li>
					</ul>
				</li>
			</ul>
		</dd>
	</dl>
</section>

<section>
	<h2 class="section-header">질문있나요?</h2>

	<p>참가 등록, 행사 진행에 대한 질문이 있으신 분들은 언제든지 <a href="mailto:gdgssu.jyj@gmail.com">gdgssu.jyj@gmail.com</a>으로 메일을 보내주세요.</p>

	<div class="question-content">
		<h3>행사 안내</h3>
		<div class="infos">
			<dl>
				<dt><h4>날짜 및 장소</h4></dt>
				<dd>GDG Student Hackathon은 2014년 8월 23일 토요일 오후 1시부터 24일 일요일 오전 11시까지 <a href="https://goo.gl/maps/Qpiyt">마루 180</a>에서 진행됩니다.</dd>
				<dt><h4>참가 확인</h4></dt>
				<dd>8월 23일 행사 시작 전 정상적으로 참가 등록이 되었는지 확인을 위해서 별도의 참가 확인 절차가 있을 예정입니다. 참가 확인이 된 분들에게는 참가 확인이 되었음을 알리는 별도의 배지가 제공되며 배지를 착용하셔야만 행사에 참여하실 수 있습니다.</dd>
				<dt><h4>소식 듣기</h4></dt>
				<dd>행사에 관한 최신 소식을 듣고 싶으시면 <a href="https://plus.google.com/communities/101463090584658665422">GDG SSU Google+</a>를 확인하세요. 참가 등록이 마감되고 참가 등록이 완료된 분들에게는 행사 안내와 자세한 참가 확인 방법이 따로 메일로 공지될 예정입니다.</dd>
			</dl>
		</div>
	</div>

	<div class="question-content">
		<h3>등록 안내</h3>
		<div class="infos">
			<dl>
				<dt><h4>참가 등록</h4></dt>
				<dd>
					<p>
						참가 등록은 <strong>2014년 8월 11일 오후 12시</strong>부터 진행됩니다. GDG Student Hackathon은 총 130명의 참가자를 모집할 예정이며 모든 참가자 등록이 완료된 경우 더 이상의 참가 등록은 불가능합니다. 참가 등록이 완료되면 참가 확인 메일을 별도로 보내드릴 예정입니다.
					</p>
					<p>
						참가 등록을 정상적으로 하기 위해서는 제공되는 참가 양식을 모두 작성해야 합니다. 본 행사는 고등학생과 대학생만 참여가 가능합니다. 만약 허위 정보 혹은 타인의 정보를 입력하거나 잘못된 이메일 계정을 입력하시는 경우에는 참가에 제한이 있을 수 있습니다. 참가 양식을 제출하기 전에 제대로 입력이 되었는지 다시 한번 확인해주세요.
					</p>
				</dd>
			</dl>
		</div>
	</div>

	<div class="question-content">
		<h3>참가자 안내</h3>
		<div class="infos">
			<dl>
				<dt><h4>배지</h4></dt>
				<dd>
					<p>
						행사 당일에 참가 확인을 하셔야만 배지가 발급됩니다. 행사 장소에 도착하시면 가장 첫번째로 꼭 참가 확인을 해주세요.
					</p>
					<p>
						행사를 진행하는 동안 배지를 착용하셔야만 모든 이벤트에 참여 가능하며 각종 식사, 음료 그리고 기념품의 제공이 가능합니다. 배지를 착용하지 않은 분들은 행사 참여가 제한되니 잃어버리지 않게 주의해주세요. 만약 배지를 분실하신 경우에는 행사 진행 스태프에게 말씀하시면 일정한 절차를 거친 이후 새로 받으실 수 있습니다.
					</p>
				</dd>
				<dt><h4>팀 구성</h4></dt>
				<dd>
					같이 해커톤에서 프로젝트를 진행할 팀은 4명으로 구성됩니다. 팀 선발은 개인의 능력, 역량, 성별, 나이 혹은 학교 등에 상관없이 무작위로 선발됩니다.
				</dd>
				<dt><h4>복장과 밤샘 준비</h4></dt>
				<dd>
					<p>
						GDG Student Hacakthon은 무박 2일로 진행됩니다. 밤을 새는데 편한 복장을 입고 오시거나 따로 준비해주세요. 별도의 탈의실은 제공되지 않습니다. 그리고 간단한 세면 도구나 담요를 준비해오시는 것을 추천드립니다.
					</p>
				</dd>
				<dt><h4>개발 기기</h4></dt>
				<dd>
					<p>
						프로젝트를 진행하는데 있어서 노트북이나 스마트폰 등의 개발에 필요한 기기는 별도로 제공되지 않습니다. 프로젝트를 진행하는데 필요할 것 같은 장비들은 모두 미리 지참해주세요.
					</p>
					<p>
						또한 개발 환경 구성을 위한 시간은 따로 주어지지 않습니다. 필요한 개발 환경은 미리 설정을 마친 후에 참가해주세요.
					</p>
				</dd>
				<dt><h4>무선 인터넷</h4></dt>
				<dd>
					<p>
						행사 장소에 기본적인 무선 인터넷은 제공되지만 많은 참가자들로 인해 무선 인터넷의 품질이 좋지 않을 수 있습니다. 원할한 프로젝트의 진행을 위해서 별도로 인터넷에 접속 가능한 기기를 지참하시는 것을 추천드립니다.
					</p>
				</dd>
				<dt><h4>흡연</h4></dt>
				<dd>
					행사 장소인 마루 180은 전구역 금연입니다. 흡연은 건물 밖 외부에서만 가능하니 이점 유의하시기 바랍니다.
				</dd>
			</dl>
		</div>
	</div>