<section>
	<div class="row">
		<div class="day-wrap">
			<h1>8.23</h1>
			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">1 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">세션 참가자 접수</p>
					<div class="hour-contents-detail">
						<p class="description">해커톤 시작에 앞서 진행할 세션 참가자 접수 시작</p>
						<p class="time">1:00 PM - 1:30 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">1:30 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">About GDG SSU</p>
					<div class="hour-contents-detail">
						<p class="description">GDG SSU에 대한 간단한 소개와 진행될 각 세션들을 소개합니다.</p>
						<p class="time">1:30 PM - 1:40 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">1:40 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">Git, 어렵지 않아요.</p>
					<div class="hour-contents-detail">
						<p class="description">더 이상 코드를 Email로 주고받지 마세요. 이 세션에서는 한참 인기를 끌고 있는 협업 도구인 Git과 Git을 가장 잘 이용해볼 수 있는 Github에 대한 사용법을 알려드립니다.</p>
						<p class="time">1:40 PM - 2:10 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">2:20 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">Android Studio startup</p>
					<div class="hour-contents-detail">
						<p class="description">ADT가 안드로이드를 개발할 수 있는 유일한 방법일까요? Google I/O 2013에서 소개되었던 새로운 개발 도구 Android Studio를 이용해서 어떻게 안드로이드를 좀 더 쉽고 편하게 개발할 수 있는지 알아봅시다.</p>
						<p class="time">2:20 PM - 2:50 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">3 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">처음 만나는 Angular.js</p>
					<div class="hour-contents-detail">
						<p class="description">Angular.js는 MVC 패턴을 따르는 Web App을 빠르게 만들 수 있도록 도와주는 매우 강력한 Web Framework입니다. Angular.js을 이용해서 얼마나 멋진 일을 간단하게 할 수 있는지 직접 확인해보세요.</p>
						<p class="time">3:00 PM - 3:30 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">3:30 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">해커톤 참가자 접수</p>
					<div class="hour-contents-detail">
						<p class="description">해커톤 참가자 접수 시작</p>
						<p class="time">3:30 PM - 4:00 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">4:00 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">About GDG SSU</p>
					<div class="hour-contents-detail">
						<p class="description">이번 행사를 준비한 GDG SSU는 어떤 곳일까요? 그동안 GDG SSU가 무엇을 해왔는지 소개합니다.</p>
						<p class="time">1:00 PM - 1:30 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">4:20 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">해커톤 팀별 자리 세팅</p>
					<div class="hour-contents-detail">
						<p class="description">하루동안 프로젝트를 같이 할 팀원들을 만나봅니다. 어떤 팀원을 새롭게 만나게 될지 두근두근거리지 않으신가요?</p>
						<p class="time">4:20 PM - 4:30 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">4:30 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">불꽃 코딩</p>
					<div class="hour-contents-detail">
						<p class="description">자유롭게 해커톤 프로젝트를 개발하세요!</p>
						<p class="time">1:00 PM - 1:30 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">7:30 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">저녁 식사</p>
					<div class="hour-contents-detail">
						<p class="description">금강산도 식후경인데 밥은 먹고해야죠.</p>
						<p class="time">7:30 PM - 8:30 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">8:30 PM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">불꽃 코딩</p>
					<div class="hour-contents-detail">
						<p class="description">자유롭게 해커톤 프로젝트를 개발하세요!</p>
						<p class="time">8:30 PM - 11:00 PM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">11 PM</p>
				</div>
				<div class="col-xs-9">
					<div class="event">
						<p class="hour-contents">옆팀을 소개합니다.</p>
						<div class="hour-contents-detail">
							<p class="description">다른 팀에는 누가 있고 어떤 아이디어로 무엇을 만들고 있는지 알아보세요. 이번 시간은 여러분의 프로젝트가 아닌 다른 팀의 프로젝트를 소개해보는 시간입니다.</p>
							<p class="time">11:00 PM - 12:00 AM</p>
						</div>
					</div>

					<div class="event">
						<p class="hour-contents">야식</p>
						<div class="hour-contents-detail">
							<p class="description">프로젝트 개발로 지친 마음과 몸을 달랠 수 있는 맛있는 야식이 제공됩니다 :)</p>
							<p class="time">11:00 PM - 12:00 AM</p>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- //.day-wrap -->

		<div class="day-wrap">
			<h1>8.24</h1>
			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">12 AM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">불꽃 코딩</p>
					<div class="hour-contents-detail">
						<p class="description">자유롭게 해커톤 프로젝트를 개발하세요!</p>
						<p class="time">12:00 AM - 8:00 AM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">8 AM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">아침 식사</p>
					<div class="hour-contents-detail">
						<p class="description">다음날 아침이 밝았습니다! 맛있는 아침 식사하세요.</p>
						<p class="time">8:00 AM - 8:30 AM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">8:30 AM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">프로젝트 발표</p>
					<div class="hour-contents-detail">
						<p class="description">이제 열심히 개발한 여러분의 프로젝트를 남들에게 그 누구보다 멋지고 세련되게 발표해보세요.</p>
						<p class="time">8:30 AM - 10:00 AM</p>
					</div>
				</div>
			</div>

			<div class="hour-row row">
				<div class="col-xs-3">
					<p class="hour-header">10:30 AM</p>
				</div>
				<div class="col-xs-9">
					<p class="hour-contents">대망의 수상식</p>
					<div class="hour-contents-detail">
						<p class="description">해커톤을 통해 진행한 프로젝트의 결과에 따라 수상작을 결정하는 시간입니다. 다양한 상품이 준비되어 있으니 기대하세요!</p>
						<p class="time">10:30 AM - 11:00 AM</p>
					</div>
				</div>
			</div>
		</div> <!-- //.day-wrap -->

	</div>
</section>