<section>
	<h2>주제</h2>
	<div class="row">

		<h2 class="text-center"><timer end-time="1408719600000">{{days}} Days {{hours}} Hours {{minutes}} Minutes {{seconds}} Seconds</timer></h2>

		<h3 class="section-header text-center">
			8월 22일에 해커톤 주제가 공개됩니다.
		</h3>
		<div class="section-content text-center">
			<p>
				주어지는 세가지 주제 중 마음에 드는 주제를 하나 이상 선택해서 여러분만의 아이디어로 풀어나가 보세요.
			</p>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<img src="images/undefined.png" class="img-responsive">
				<h4 class="text-center">Topic A</h4>
			</div>
			<div class="col-xs-4">
				<img src="images/undefined.png" class="img-responsive">
				<h4 class="text-center">Topic B</h4>
			</div>
			<div class="col-xs-4">
				<img src="images/undefined.png" class="img-responsive">
				<h4 class="text-center">Topic C</h4>
			</div>

		</div>
	</div>
</section>

<section>
	<h2>기술</h2>
	<div class="row">
		<div class="col-md-6">
			<h3 class="section-header">
				Google의 다양한 기술을 이용해보세요
			</h3>
			<div class="section-content">
				<p>
					Android, Chrome, App Engine 등 구글이 제공하는 다양한 기술들을 이용해서 자신만의 독특한 프로젝트를 만들어 보세요.
				</p>
				<p>
					해커톤에서 만드는 프로젝트는 반드시 하나 이상의 Google 관련 기술을 포함해아 됩니다. 그 외에 별도의 기술적 제한은 없으며 Android Application을 만드셔도 좋고 Angular.js, Chrome API 등을 이용해서 Web App을 만드셔도 괜찮습니다.
				</p>
				<p>
					Google에서 제공하는 다양한 기술에 대한 자세한 내용은 <a href="https://developers.google.com/">Google Developers</a>를 참고하세요.
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row google-tech">
				<div class="col-xs-4">
					<a href="https://cloud.google.com"><img src="images/cloud.png" class="img-responsive"></a>
				</div>
				<div class="col-xs-4">
					<a href="https://developer.chrome.com/home"><img src="images/chrome.png" class="img-responsive"></a>
				</div>
				<div class="col-xs-4">
					<a href="http://developer.android.com/index.html"><img src="images/android.png" class="img-responsive"></a>
				</div>
			</div>
			<div class="row google-tech">
				<div class="col-xs-4">
					<a href="http://golang.org/"><img src="images/go.png" class="img-responsive"></a>
				</div>
				<div class="col-xs-4">
					<a href="https://developers.google.com/cast/"><img src="images/cast.png" class="img-responsive"></a>
				</div>
				<div class="col-xs-4">
					<a href="https://angularjs.org/"><img src="images/angular.png" class="img-responsive"></a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<a href="https://github.com"><img src="images/github-logo.jpg" class="img-responsive"></a>
		</div>
		<div class="col-md-6">
			<h3 class="section-header">
				Fork me!
			</h3>
			<div class="section-content">
				<p>
					<a href="https://github.com">Github</a>을 이용해서 팀원들과 쉽고 간편하게 코드를 공유하고 프로젝트를 발전시켜 보세요. 또 다른 팀의 프로젝트를 보고 버그를 찾아주거나 고쳐주세요.
				</p>
				<p>
					GDG Student Hackathon에서 팀은 모두 하나 이상의 Github Repository로 프로젝트를 관리해야 합니다. Github 계정이 없으신 분들은 행사 시작하기 전에 미리 만들어주세요.
				</p>
				<p>
					Git을 잘 모르시거나 친숙하지 않으신 분들은 미리 다음 링크를 보고 오시면 많은 도움이 될겁니다 :)
				</p>
				<ul class="list-unstyled">
					<li><a href="http://rogerdudler.github.io/git-guide/index.ko.html">git - 간편 안내서</a></li>
					<li><a href="http://learnbranch.urigit.com/">Git 브랜치 배우기</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>